.dashboard-container {
    margin-top: 50px;
}
.dashboard-card {
    padding: 20px;
    border-radius: 10px;
}
.dashboard-card i {
    font-size: 30px;
    margin-bottom: 10px;
}
.table{
    border: 1px solid #2c1e4e;
}
